@tailwind base;

html {
  position: relative;
  min-height: 100%;
  border-left: 11px solid black;
  border-right: 11px solid black;
}

.items-center {
  align-items: center;
}

@tailwind components;
@tailwind utilities;